#article-wrap {
  .header {
    font-weight: 700;
    margin-bottom: 5px;
  }

  .subheader {
    display: inline-block;
    position: relative;
    font-size: 1.8rem;
    color: #333;
    background: #f8f8f8;
    border-radius: 4px;
    padding: 4px 10px;
    margin-bottom: 25px;
  }

  .article-meta {
    margin: 25px 0;

    &::before {
      content: '';
      display: block;
      margin: 50px 0 15px 10px;
      width: 100px;
      height: 1px;
      background: #eee;
    }

    .badge {
      margin-right: 5px;
      transform: translateY(-1px);
    }

    .feather {
      color: #aaa;
      margin-right: 5px;
    }
  }
}

.spacer {
  display: block;
  margin: 25px 0 15px;
  width: 100px;
  height: 1px;
  background: #eee;
}

:host ::ng-deep .section {
  position: relative;
  margin-top: 25px;

  > h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  > a {
    position: absolute;
    top: 50%;
    left: -28px;
    color: #bbb;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 400ms ease-out;

    &:hover {
      opacity: 1;
    }

    &:active {
      color: #555;
    }
  }
}
