#page-wrapper {
  min-height: calc(100vh - 400px);
  background: #fff;
  padding: 25px;
  padding-top: 0;
}

@media screen and (max-width: 991px) {
  #page-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
