.badge {
  font-size: 2rem;
  padding-top: 80px;
  padding-right: 50px;
  cursor: default;
  margin: 50px 0 30px;
  transition: margin 300ms ease-out;
}

#nothing-found {
  font-size: 24px;
  font-weight: 700;
  color: #444;
}

@media screen and (max-width: 991px) {
  .badge {
    margin-top: 0;
  }
}
